#################
## Misc
#################
nbproject
manifest.mf
build.xml

#################
## Project
#################

node_modules/*
npm-debug.log
tests
coverage
config
karma.conf.js
webpack.config.js
copy.js
!*.metadata.json
!bundles/*.js

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
